.container{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
#logoAP{
    width: 220px;
    margin-top: 15px;
    margin-left: 15px;
}
img{
    width: 50px;
    margin: 0 10px;
}