.container{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
}
#logoAP{
    width: 170px;
    margin-top: 15px;
    margin-left: 15px;
}
img{
    width: 30px;
    margin: 0 5px;
    margin-bottom: 5px;
}