.row{
    padding: 10px;
    text-align:center;
}
div{
    background-color:#ecaffc;
    color:#4556af              
}
/*etiqueta nombre*/
#nombre{
    font-weight:bold; 
}

/*etiqueta nombre2*/
#nombre2{
    font-weight:bold;
}

/*estilo fotoperfil*/
#fotoperfil{
    border-radius:50%;
}
@media (min-width:991px){
    #fotoperfil{
        position: absolute;
        width:15%;
        right:25%;
        top:65%;
    }
}
@media (max-width:992px){
    #fotoperfil{
        position: absolute;
        width:15%;
        right:18%;
        top:70%;
    }
}
