<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil3.png" id="fotoperfil"
        class="img-fluid">
        <p id="nombre"> Mariela Nuñez</p>
        <p id="nombre2"> Full Stack Developer Jr</p>
    </div>
    
    <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure cupiditate architecto error, minima earum sequi voluptate saepe qui velit aut temporibus magnam vel totam molestias aliquid, porro mollitia. Ut, veniam?
            </p>
        </span>
    </div>
</div>